.header{
	background: #000;
	color:#fff;
}

h1{
	font-size:5em;
	line-height: 1;

}

h1 .subtitle{
	display:block;
	line-height:1;
	font-size:0.5em;
}

.top{
	position:fixed;
	display:inline-block;
	opacity: 0;
	top:80%;
	width:100px;
	height:100px;
	background: #009cdd;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.3s;
}

.top:hover{
	background: #0076a2;
}

@media screen and (min-width: 1113px) {
	.top{
		left:92vw;
	}
}

@media screen and (max-width: 1112px) {
	.top{
		left:79vw;
	}
}

#arrow-icon{
	display:inline-block;
	position: relative;
	font-size:5em;
	font-weight:bold;
	text-align: center;
	vertical-align: middle;
	top: 10px;
}

.filter-bar{
	display:block;
	position: sticky;
	width:100%;
	height:100px;
	background: #efefef;
	filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.3));
}

.pk-dropdown{
	display:inline-block;
	position: relative;
	width:150px;
	height:100px;
	padding:10px;
	font-size:1.3em;
	font-weight: bold;
	text-align:center;
	background: #efefef;
	border-style: solid;
  	border-color: #d1d1d1;
  	border-width: 0 0 0 1px;
  	cursor:pointer;
}

.submit-button{
	display:inline-block;
	position: relative;
	width:150px;
	height:100px;
	padding:10px;
	font-size:1.5em;
	font-weight: bold;
	text-align:center;
	text-transform:uppercase;
	background: rgb(44,112,244);
	border-style: solid;
  	border-color: #d1d1d1;
  	border-width: 0;
}

.submit-button:hover{
	background: #d1d1d1;
}

.featured-heading{
	display:block;
	font-size:3em;
	font-weight:bold;
	padding-top:50px;
}

.separator{
	display:block;
	padding:50px 0px;
}

.pad-block{
	display:block;
	padding:25px 0px;
}

#catalog_count{
	font-size:1.2em;
}

.movie-block{
	display:block;
	width:100%;
	/*height:340px;*/
	padding:20px;
	background: white;
	filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.1));
}


@media screen and (min-width: 991px) {
	.movie-block .image-wrapper{
		display:inline-block;
		text-align: left;
	}
	.movie-block .content{
		padding: 10px 10px 10px 20px;
	}
}

@media screen and (max-width: 991px) {
	.movie-block .image-wrapper{
		display:block;
		text-align: center;
	}
	.movie-block .content{
		padding: 20px 10px 10px 20px;
	}
}

.movie-block .poster{
	display:inline-block;
	width:200px;
	height:300px;
	object-fit: cover;
	border:solid 10px #fff;
	border-radius: 20px;
	filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.2));
	vertical-align:middle;
}

.movie-block .content{
	display:inline-block;
	vertical-align:middle;
}

@media screen and (min-width: 1399px) {
	.movie-block .content{
		width:1000px;
	}
}

@media screen and (max-width: 1398px) {
	.movie-block .content{
		width:100%;
		max-width:600px;
	}
}

.movie-block .director{
	font-size:1.4em;
	font-weight:bold;
	color: #0076a2;
	line-height: 1;
}

.movie-block .title{
	font-size:2em;
	font-weight:bold;
	padding-right:10px;
	line-height:1;
}

.movie-block .subtitle{
	font-size:0.8em;
	font-weight:lighter;
	color: #333638;
}

.movie-block .description{
	font-size:1.25em;
	padding-top:10px;
}

.movie-block .duration{
	font-size:1.25em;
	font-weight:bold;
}

.movie-block .genres{
	font-size:1.2em;
	font-weight:bold;
}

.genre{
	display:inline-block;
	background: #d94329;
	color: #fff;
	padding:2px 10px;
	text-transform: uppercase;
	border-radius: 5px;
}




















